RewriteEngine On

# Si entra a /PORTAL_COBROS_PROD/, redirigir a /PORTAL_COBROS_PROD/public/
RewriteCond %{REQUEST_URI} ^/PORTAL_COBROS_PROD/?$
RewriteRule ^(.*)$ /PORTAL_COBROS_PROD/public/ [L,R=301]
